    {%block content%}
    <h2>Welcome to {{pitch | title }}</h2>
    <a class="btn btn-primary text-center " href="{{url_for('main.new_post', pitch_name=pitch)}}"><span class="glyphicon glyphicon-plus"
            aria-hidden="true"></span> Post a Pitch</a>


    <h3>Pitches:</h3>

    {% for post in posts %}

    <h3>{{post.post_title}}</h3>
    <div class="panel panel-primary">
        <div class="panel panel-primary">

            <div class="panel-heading">

                <p>{{post.post_text}}</p>
            </div>
            <div class="panel-footer"><a href="{{url_for('main.view_post', id=post.id)}}">View Comments</a></div>

            {% endfor %}
        
        {% endblock %}